body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #bd1212; 
  color: rgb(252, 250, 253); 
  padding: 20px;
  text-align: center; 
}

.card-logo{
  width: 175px;
  height: 175px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* sempre 3 cards por linha */
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: rgb(182, 27, 27);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background-color: #fc6b6b;
}

.card img {
  width: 65%;
  border-radius: 12px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 12px;
}

.card h2 {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #fff;
}

.card p {
  color: #f5f5f5;
  font-size: 0.9rem;
}

p:hover{
  color: #000;
}
